<!DOCTYPE html>
<html>
<head>
<title>Job Board</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
</head>
<div class= 'container'>
<div class= 'jumbotron'>
<body>
<h1>Create a Tomagotchi:</h1>
</div>
<form action="/tamagotchi" method="post">

  <label for="new-name">Name:</label>
  <input id="new-name" name="new-name" type="text">

  <button type="submit">Submit</button>
</form>
</body>
</div>
</html>
