<!DOCTYPE html>
<html>
<head>
<title>Job Board</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
</head>
<div class= 'container'>
<div class= 'jumbotron'>
<body>
<h1>Tamagotchi:</h1>
</div>
<ul>
  @foreach(var tama in Model)
  {
  <br>
  <li><strong>@tama.GetName()</strong>
  <br>
  @tama.GetAttributes().GetFood()
  <br>
  @tama.GetAttributes().GetAttention()
  <br>
  @tama.GetAttributes().GetSleep()
  </li>
  }
</ul>

@foreach
<button type="click">Feed</button>
<button type="click">Play</button>
<button type="click">Rest</button>
<button type="click">Let Time Pass</button>
<p><a href="/tamagotchi/new">Create your Tamagotchi.</a></p>
</body>
</div>
</html>
